@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Code+Pro|Montserrat);
select.first {
  font-family: "Times New Roman", serif;
}
select.second {
  visibility: hidden;
  position: absolute;
}
select.fourth,
select.fifth,
select.sixth {
  visibility: hidden !important;
  display: none;
  position: absolute;
}
.result {
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #f8f8ff;
}
.result.one div.lister-selected-top {
  font-family: "Times New Roman", serif;
}
.result.two p {
  margin: 15px 0;
}
.result.two input[type="submit"] {
  background: white;
  border: 1px solid black;
  border-radius: 0;
  font-family: "Source Code Pro";
  display: block;
  clear: left;
}
.yellow div.lister-selected-top {
  padding: 10px 30px 10px 10px;
  display: inline-block;
  border: 1px solid black;
  min-height: 42px;
  min-width: 150px;
  background: url("../img/arrow.png") 90% center no-repeat;
}
.purple {
  height: 500px;
}
.purple .wrapper .left,
.purple .wrapper .middle,
.purple .wrapper .right {
  display: inline-block;
  width: 32%;
  position: relative;
}
.purple .wrapper .left div.lister-selected-top {
  padding: 10px;
  display: inline-block;
  min-height: 42px;
  min-width: 200px;
  border-radius: 5px;
  -moz-box-shadow: 5px;
  -webkit-box-shadow: 5px;
  box-shadow: 5px;
  background: #ffffff;
  position: relative;
}
.purple .wrapper .left div.lister-selected-top:after {
  content: '<>';
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font: 25px "Consolas", monospace;
  color: #aaa;
  right: 8px;
  top: 4px;
  padding: 0 0 2px;
  border-bottom: 1px solid #ddd;
  position: absolute;
}
.purple .wrapper .left div.lister-selected-top:before {
  content: '';
  right: 6px;
  top: 3px;
  width: 27px;
  height: 35px;
  position: absolute;
  pointer-events: none;
  display: block;
  background: #e1e1e1;
  border-radius: 25px;
}
.purple .wrapper .middle div.lister-selected-top {
  padding: 30px;
  display: inline-block;
  min-height: 42px;
  min-width: 300px;
  border-radius: 1px;
  -moz-box-shadow: 5px;
  -webkit-box-shadow: 5px;
  box-shadow: 5px;
  background: #ffffff;
  position: relative;
}
.purple .wrapper .middle div.lister-selected-top:after {
  content: '>';
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font: 25px "Consolas", monospace;
  color: #aaa;
  right: 40px;
  top: 4px;
  padding: 40px 0 2px;
  position: absolute;
  pointer-events: none;
  height: 40px;
}
.purple .right div.lister-selected-top {
  display: inline-block;
  min-height: 300px;
  width: 300px;
  background: #ffffff;
  position: relative;
  text-align: center;
  padding-top: 140px;
}
.purple .right:hover div.lister-selected-top {
  text-align: right;
  padding-right: 75px;
}
.purple .right:hover .sixth {
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  display: block;
  opacity: 1;
  visibility: visible;
}
ul.lister.first {
  font-family: "Times New Roman", serif;
}
ul.lister.second {
  display: none;
  border: 1px solid black;
  border-top: none;
  width: 150px;
  padding: 5px 0;
  list-style: none;
}
ul.lister.second.lister-open {
  display: block;
}
ul.lister.second li {
  cursor: default;
  padding: 2.5px 10px;
}
ul.lister.second li:hover {
  background: #ccc;
}
ul.lister.fourth {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: none;
  width: 200px;
  padding: 5px 0;
  list-style: none;
  background: #ffffff;
  overflow: scroll;
  height: 150px;
  top: 40px;
  box-shadow: 0px 0px 10px #000000;
  position: absolute;
}
ul.lister.fourth.lister-open {
  display: block;
}
ul.lister.fourth li {
  width: 200px;
  cursor: pointer;
  padding: 2.5px 10px;
}
ul.lister.fourth li:hover {
  background: rgba(74, 66, 126, 0.9);
  color: #ffffff;
}
ul.lister.fifth {
  margin-top: 10px;
  width: 300px;
  padding: 5px 0;
  list-style: none;
  height: 250px;
  overflow: scroll;
  display: none;
  position: absolute;
}
ul.lister.fifth.lister-open {
  display: block;
}
ul.lister.fifth li {
  cursor: pointer;
  padding: 10px 30px;
  margin: 5px;
  background: #ffffff;
}
ul.lister.fifth li:hover {
  background: rgba(74, 66, 126, 0.9);
  color: #ffffff;
}
ul.lister.sixth {
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  margin-top: 10px;
  width: 140px;
  padding: 5px 0;
  list-style: none;
  height: 300px;
  position: absolute;
  top: -10px;
  background: #f1f1f1;
}
ul.lister.sixth li {
  cursor: pointer;
  padding: 10px 30px;
  background: #f1f1f1;
}
ul.lister.sixth li:hover {
  background: rgba(74, 66, 126, 0.9);
  color: #ffffff;
}
header {
  padding: 20px;
  text-align: center;
}
header h1 {
  position: absolute;
  visibility: hidden;
}
header h2 {
  font-size: 125%;
  font-weight: normal;
}
/*---------------------------------------*/
/*------------- Typography --------------*/
/*---------------------------------------*/
body {
  font-family: "Source Code Pro";
}
h3 {
  font-size: 125%;
  font-family: "Montserrat";
  text-transform: uppercase;
}
h4 {
  font-size: 115%;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin: 15px 0 5px;
}
/*---------------------------------------*/
/*--------------- Grid ------------------*/
/*---------------------------------------*/
.wrapper {
  display: block;
  margin: 0 auto;
  padding: 20px 5%;
  max-width: 1280px;
}
/*---------------------------------------*/
/*--------------- Mixins ----------------*/
/*---------------------------------------*/
/*---------------------------------------*/
/*--------------- COLORS ----------------*/
/*---------------------------------------*/
.blue {
  background: rgba(28, 112, 149, 0.7);
}
.green {
  background: rgba(57, 124, 31, 0.7);
}
.yellow {
  background: rgba(203, 149, 1, 0.7);
}
.purple {
  background: rgba(74, 66, 126, 0.7);
}
.red {
  background: rgba(139, 1, 9, 0.7);
}
/*---------------------------------------*/
/*------------ COLOR-STRIPE -------------*/
/*---------------------------------------*/
.color-stripe-wrapper {
  width: 100%;
  overflow: hidden;
  z-index: 10;
  position: relative;
  top: 0;
}
.color-stripe {
  background-color: #8b0109;
  overflow: hidden;
  height: 8px;
  width: 100%;
  zoom: 1;
}
.color-stripe:before {
  content: '';
  display: block;
}
.color-stripe:after {
  content: '';
  display: table;
  clear: both;
}
.color-stripe span {
  display: block;
  float: left;
  height: 8px;
  width: 20%;
}
.color-stripe span.green {
  background-color: #397c1f;
}
.color-stripe span.yellow {
  background-color: #cb9501;
}
.color-stripe span.blue {
  background-color: #1c7095;
}
.color-stripe span.purple {
  background-color: #4a427e;
}
.color-stripe span.red {
  background-color: #8b0109;
}
/*----------------------------------------*/
/*------------ Gist Syntax ---------------*/
/*----------------------------------------*/
.gist,
.gist .gist-file .gist-data .line-pre {
  font-family: "Source Code Pro" !important;
}
.gist-syntax .nt {
  color: #1c7095 !important;
}
.gist-syntax .na,
.gist-syntax .m {
  color: #397c1f !important;
}
.gist-syntax .s,
.gist-syntax .s2,
.gist-syntax .o {
  color: #8b0109 !important;
}
.gist-syntax .err {
  color: #000 !important;
  background: none !important;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
